<div class="bg-green-600 p-4 flex justify-between items-center text-white">
  <div class="text-xl font-bold">Pemesanan Makanan di Bussiness Center UNAND</div>
  <div class="flex items-center space-x-4">
    <a href="/users/home" class="hover:text-gray-200">Home</a>
    <a href="#" class="hover:text-gray-200">About</a>
    <a href="/users/pesanan" class="hover:text-gray-200">Pesanan saya</a>
  </div>
</div>
</form>