<div class="w-1/6 p-4 bg-white-100 shadow-lg border rounded-lg">
  <h3 class="font-semibold text-xl mb-4 text-center text-green-700">Nama warung</h3>
  <ul class="space-y-5 text-center text-green-700">
    <li>Warung 1</li>
    <li>Warung 2</li>
    <li>Warung 3</li>
    <li>Warung 4</li>
    <li>Warung 5</li>
    <li>Warung 6</li>
  </ul>
</div>
