<div class="w-1/6 p-4 bg-white-100 shadow-lg border rounded-lg">
  <h3 class="font-semibold text-xl mb-4 text-center text-green-700">Nama Cafe</h3>
  <ul class="space-y-5 text-center text-green-700">
    <li>Bungo Jaya Cafe</li>
    <li>Khanza Cafe</li>
    <li>Nabil Cafe</li>
    <li>Yuki Cafe</li>
    <li>Badaso Cafe</li>
    <li>Raudha Cafe</li>
  </ul>
</div>
