<div class="w-1/6 p-4 bg-white-100 shadow-lg border rounded-lg">
  <h3 class="font-semibold text-xl mb-4 text-center text-green-700">Nama Cafe</h3>
  <ul class="space-y-5 text-center text-green-700">
    <li><a href="javascript:void(0)" data-cafe-name="Bungo Jaya Cafe">Bungo Jaya Cafe</a></li>
    <li><a href="javascript:void(0)" data-cafe-name="Khanza Cafe">Khanza Cafe</a></li>
    <li><a href="javascript:void(0)" data-cafe-name="Nabil Cafe">Nabil Cafe</a></li>
    <li><a href="javascript:void(0)" data-cafe-name="Yuki Cafe">Yuki Cafe</a></li>
    <li><a href="javascript:void(0)" data-cafe-name="Badaso Cafe">Badaso Cafe</a></li>
    <li><a href="javascript:void(0)" data-cafe-name="Raudha Cafe">Raudha Cafe</a></li>
  </ul>
</div>
